@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,300);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap);

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  color: #fff;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

h1 {
  font-family: inherit;
  font-weight: 300;
  font-size: 2.5em;
  color: #ddd;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}